{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
span.psw {
  float: right;
  padding-top: 16px;
}

button {
  background-color: #aa0404;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
.messages {
  color: red;
}
</style>
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0; URL=../home/" />
{%else %}

<div class="content-section">
  <form method="POST">
    {% csrf_token %}

    <fieldset class="form-gorup">
      {{form | crispy}}
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Login</button>
      </div>
      <div class="border-top pt-3">
        <small class="text-muted">
          <a class="ml-2" href="../register/"> Register a new account</a>
        </small>
      </div>
    </fieldset>
  </form>
 
</div>
{%endif %}
{% endblock content%}